* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: white;
}

header {
    background: #222;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav {
    background: #333;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.2s;
}

nav a:hover {
    background: #555;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
}

.jogo-btn {
    display: inline-block;
    padding: 12px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.jogo-btn:hover {
    background: #adffb1;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 20px solid rgb(53, 189, 0);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient( #2c92f2, #93e4ff);
}
.pipe{
    position: absolute;
    bottom: -10px;
    width: 80px;
animation: pipe 2s infinite linear;
}
.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
animation: jump 700ms ease-in-out;
}

.nuvens{
    width: 500px;
    position: absolute;
    animation: nuvens 10s infinite linear;
}

@keyframes pipe{
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump{
    0% {
        bottom: 0;
    }
    50% {
        bottom: 200px;
    }
    60% {
        bottom: 180px;
    }

    70%{
        bottom: 150px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes nuvens{
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

#reset-btn {
    padding: 15px 30px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: red;
    color: white;
}
.game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 999;
    display: none;
}

.game-over-screen h1 {
    color: white;
    font-size: 60px;
    text-shadow: 4px 4px 8px black;
    font-family: Arial, sans-serif;
}
footer{
    position:relative;
    top:96%;
    left:0px;
    color:white;
}